@property --board-size {
  syntax: '<number>';
}

body {
  background-color: lightgrey;
}

div#wrapper {
  display: flex;
  justify-content: center;
}

div#board {
  display: grid;
  grid-template-columns: repeat(var(--board-size), 100px);
  border-top: 20px solid darkgrey;
  border-left: 20px solid darkgrey;
  border-right: 20px solid white;
  border-bottom: 20px solid white;
  gap: 2px;
}

span.cell {
  user-select: none;
  width: 80px;
  height: 80px;
  background-color: lightgray;
  border-top: 10px solid white;
  border-left: 10px solid white;
  border-right: 10px solid darkgrey;
  border-bottom: 10px solid darkgrey;
  text-align: center;
  line-height: 100px;
  font-size: 3em;
}

span.cell.open {
  border-top: 10px solid darkgrey;
  border-left: 10px solid darkgrey;
  border-right: 10px solid white;
  border-bottom: 10px solid white;
}

span.cell:active {
  border-top: 10px solid darkgrey;
  border-left: 10px solid darkgrey;
  border-right: 10px solid white;
  border-bottom: 10px solid white;
}

span.cell.marked {
  background-image: url(../assets/flag.png);
  background-size: cover;
}

span.cell-value-1 {
  color: blue;
}
span.cell-value-2 {
  color: green;
}
span.cell-value-3 {
  color: red;
}
span.cell-value-4 {
  color: darkblue;
}
span.cell-value-5 {
  color: brown;
}
span.cell-value-6 {
  color: cyan;
}
span.cell-value-7 {
  color: black;
}
span.cell-value-8 {
  color: gray;
}

span.cell-value-* {
  color: pink;
  font-weight: bolder;
  font-size: 2em;
}
